// colors
$pink: #EB80C3;
$white: lighten($pink, 28%);
$light-grey: darken($white, 4%);
$grey: darken($white, 3%);
$dark-pink: darken($pink, 60%);

// dimensions
$max-width: 28em;
$grid-columns: 4;

// fonts
@include font-face(Gloriola, '../fonts/Gloriola_Light', normal);
@include font-face(Gloriola, '../fonts/Gloriola_Semibold', bold);

